<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum interdum urna eu pellentesque fermentum. Aliquam pharetra ultrices nisl non condimentum. Aliquam erat volutpat. Quisque faucibus ipsum ac dui vehicula tincidunt. Nullam vestibulum urna ut eros convallis, porttitor vulputate nunc laoreet. Proin quam nibh, porttitor imperdiet consectetur sed, fringilla finibus urna. Fusce imperdiet lectus a lectus fringilla maximus. Morbi vitae mauris nec tortor tincidunt rhoncus pharetra a lectus. Integer vel nisl in quam feugiat pretium.
</p>
